{% extends 'base.html' %}

{% block content %}

<h4>Welcome to MedClaimsBI</h4>
<div>
<h5>
    The main purpose of this tool is a demonstration of various charts that come from analysis of sample data of medical claims.
    The data is purely for demonstration purposes and is not representative of the data from the insitutions mentioned in the reports.

</h5>
<h5>
    Here are the following menu options:

</h5>
<ul>
    <li>Dashboard</li>
    <li>Claim Volume</li>
    <li>Provider Data</li>
  </ul>
<h5>
    More details are included in each section
</h5>


</div>

{% endblock content %}
